
<nav>
    <ul>
        <li><a href="@Url.Action("Welcome", "Page")">Главная</a></li>
        <li><a href="@Url.Action("Greet", "Page")">Страница приветствия</a></li>
        <li><a href="@Url.Action("Edit", "Page")">Редактировать сообщение</a></li>
    </ul>
</nav>
